# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [38]:
import pandas as pd

In [39]:
columns = ['surgery?', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion?', 'type of lesion1', 'type of lesion2', 'type of lesion3', 'cp_data']

In [40]:
horses = pd.read_csv('horse_data.csv', names=columns, header=0, na_values='?')
horses.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion1,type of lesion2,type of lesion3,cp_data
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2

In [41]:
(horses.isna().mean()*100).round(2)

surgery?                        0.33
Age                             0.00
Hospital Number                 0.00
rectal temperature             20.07
pulse                           8.03
respiratory rate               19.40
temperature of extremities     18.73
peripheral pulse               23.08
mucous membranes               15.38
capillary refill time          10.70
pain                           18.39
peristalsis                    14.72
abdominal distension           18.73
nasogastric tube               34.45
nasogastric reflux             35.12
nasogastric reflux PH          82.27
rectal examination             34.11
abdomen                        39.46
packed cell volume              9.70
total protein                  11.04
abdominocentesis appearance    54.85
abdomcentesis total protein    65.89
outcome                         0.33
surgical lesion?                0.00
type of lesion1                 0.00
type of lesion2                 0.00
type of lesion3                 0.00
cp_data                         0.00
dtype: float64

In [42]:
horses_8 = horses[['surgery?', 'Age', 'rectal temperature', 'pulse', 'mucous membranes', 'pain', 'abdominal distension','outcome']]

Для количественных показателей найдем минимум, максимум, размах, среднее, медиану, квантили и межквартильный размах, СКО.

In [43]:
horses_2 = horses[['rectal temperature', 'pulse']]
horses_2.describe()

       rectal temperature       pulse
count          239.000000  275.000000
mean            38.166527   71.934545
std              0.733508   28.680522
min             35.400000   30.000000
25%             37.800000   48.000000
50%             38.200000   64.000000
75%             38.500000   88.000000
max             40.800000  184.000000

In [44]:
print(f"Размах по показателю rectal temperature = {round(horses_2['rectal temperature'].max() - horses_2['rectal temperature'].min(),2)}")
print(f"Размах по показателю pulse = {horses_2['pulse'].max() - horses_2['pulse'].min()}")

Размах по показателю rectal temperature = 5.4
Размах по показателю pulse = 154.0

In [45]:
print(f"Межквартильный размах по показателю rectal temperature = {round(horses_2['rectal temperature'].quantile(0.75) - horses_2['rectal temperature'].quantile(0.25),3)}")
print(f"Межквартильный размах по показателю pulse = {horses_2['pulse'].quantile(0.75) - horses_2['pulse'].quantile(0.25)}")

Межквартильный размах по показателю rectal temperature = 0.7
Межквартильный размах по показателю pulse = 40.0

Для качественных показателей найдем моду и распределение.

In [46]:
for indicator in ['surgery?', 'Age','mucous membranes', 'pain', 'abdominal distension','outcome']:
    print('Значение моды для показателя', indicator, horses_8[indicator].mode()[0])
    print(horses_8[indicator].value_counts())

Значение моды для показателя surgery? 1.0
1.0    180
2.0    118
Name: surgery?, dtype: int64
Значение моды для показателя Age 1
1    275
9     24
Name: Age, dtype: int64
Значение моды для показателя mucous membranes 1.0
1.0    79
3.0    58
4.0    41
2.0    30
5.0    25
6.0    20
Name: mucous membranes, dtype: int64
Значение моды для показателя pain 3.0
3.0    67
2.0    59
5.0    41
4.0    39
1.0    38
Name: pain, dtype: int64
Значение моды для показателя abdominal distension 1.0
1.0    76
2.0    65
3.0    65
4.0    37
Name: abdominal distension, dtype: int64
Значение моды для показателя outcome 1.0
1.0    178
2.0     76
3.0     44
Name: outcome, dtype: int64

В выборке представлены данные по большей частью взрослым, ранее прооперированным лошадям, с ректальной температурой выше нормы в 75% наблюдений. При этом у более чем 75% наблюдений отмечается повышенный пульс, кроме того имеются отдельные наблюдения где максимальный показатель пульса более чем в три раза превышает медианное значение. Слизистые оболочки в большей половине случаев указывают на патологические процессы. Чаще всего животные испытывают прерывистую легкую боль либо в находятся подавленном состоянии. Но при этом в подавляющем большинстве наблюдений у животных отсутствует сильное вздутие живота.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [47]:
for i in ['rectal temperature', 'pulse']:
    q1 = horses_2[i].quantile(0.25)
    q3 = horses_2[i].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    remove_outliers = horses_2[horses_2[i].between(lower_bound, upper_bound, inclusive=True)].sort_values(i)
    print(pd.concat([horses_2, remove_outliers]).drop_duplicates(keep=False).sort_values(i))
    print()
    remove_outliers = 0

     rectal temperature  pulse
43                 35.4  140.0
140                36.0   42.0
237                36.1   88.0
79                 36.4   98.0
117                36.5   78.0
297                36.5  100.0
250                36.6   42.0
98                 39.6  108.0
74                 39.7  100.0
19                 39.9   72.0
280                40.0   78.0
258                40.8   72.0
15                  NaN  128.0
56                  NaN   64.0
95                  NaN   84.0
166                 NaN   44.0
168                 NaN   65.0
176                 NaN   68.0
241                 NaN   36.0
264                 NaN   56.0
273                 NaN   76.0
292                 NaN   78.0

     rectal temperature  pulse
40                 39.0  150.0
274                38.8  150.0
54                 38.6  160.0
2                  39.1  164.0
254                38.8  184.0
116                39.5    NaN
125                38.7    NaN
150                39.3    NaN
203                39.2    NaN

По обоим показателям рассчитанные выбросы не являются ошибкой заполнения или прибора измерения, т.к. такие показатели реально могут быть у лошадей в критическом состоянии. Нужно оставить эти наблюдения как есть.

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [48]:
horses_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery?              298 non-null    float64
 1   Age                   299 non-null    int64
 2   rectal temperature    239 non-null    float64
 3   pulse                 275 non-null    float64
 4   mucous membranes      253 non-null    float64
 5   pain                  244 non-null    float64
 6   abdominal distension  243 non-null    float64
 7   outcome               298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

In [49]:
(horses_8.isna().mean()*100).round(2)

surgery?                 0.33
Age                      0.00
rectal temperature      20.07
pulse                    8.03
mucous membranes        15.38
pain                    18.39
abdominal distension    18.73
outcome                  0.33
dtype: float64

In [50]:
horses_8[horses_8['surgery?'].isna()==True]

,surgery?,Age,rectal temperature,pulse,mucous membranes,pain,abdominal distension,outcome
131,NaN,1,38.0,48.0,3.0,4.0,1.0,NaN

Удаление этой строки решит сразу две проблемы с пропусками - в первой и последней колонке, при этом базовые статистики не сильно изменятся.

In [51]:
horses_8 = horses_8.dropna(subset=['surgery?'])
horses_8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery?              298 non-null    float64
 1   Age                   298 non-null    int64
 2   rectal temperature    238 non-null    float64
 3   pulse                 274 non-null    float64
 4   mucous membranes      252 non-null    float64
 5   pain                  243 non-null    float64
 6   abdominal distension  242 non-null    float64
 7   outcome               298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.0 KB

Пропуски в pain можно заполнить константой 'no info', т.к. этот показатель является субъективными и распределен относительно равномерно по категориям.

In [52]:
horses_8['pain'].fillna('no_info', inplace=True)
horses_8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery?              298 non-null    float64
 1   Age                   298 non-null    int64
 2   rectal temperature    238 non-null    float64
 3   pulse                 274 non-null    float64
 4   mucous membranes      252 non-null    float64
 5   pain                  298 non-null    object
 6   abdominal distension  242 non-null    float64
 7   outcome               298 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 21.0+ KB

Пропуски в mucous membranes и abdominal distension заменяем модой, т.к. это хотя и качественные, но более четко измеряемые показатели на основании которых можно предположить какова температура животного.

In [53]:
horses_8['mucous membranes'].fillna(horses_8['mucous membranes'].mode()[0], inplace=True)
horses_8['abdominal distension'].fillna(horses_8['abdominal distension'].mode()[0], inplace=True)
horses_8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery?              298 non-null    float64
 1   Age                   298 non-null    int64
 2   rectal temperature    238 non-null    float64
 3   pulse                 274 non-null    float64
 4   mucous membranes      298 non-null    float64
 5   pain                  298 non-null    object
 6   abdominal distension  298 non-null    float64
 7   outcome               298 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 21.0+ KB

Так как показатели - цвет слизистых оболочек и пульс связаны, заполним пропуски в столбце pulse медианой по группировке по показателю цвет слизистых оболочек

In [54]:
horses_8['pulse'].fillna(horses_8.groupby('mucous membranes')['pulse'].transform('median'), inplace=True)
horses_8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery?              298 non-null    float64
 1   Age                   298 non-null    int64
 2   rectal temperature    238 non-null    float64
 3   pulse                 298 non-null    float64
 4   mucous membranes      298 non-null    float64
 5   pain                  298 non-null    object
 6   abdominal distension  298 non-null    float64
 7   outcome               298 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 21.0+ KB

Так как показатели - цвет слизистых оболочек и ректальная температура связаны, заполним пропуски в столбце rectal temperature медианой по группировке по показателю цвет слизистых оболочек. Кроме того в группировку для большей точности добавляем показатель abdominal distension, так как он тоже может косвенно влиять на температуру.

In [55]:
horses_8['rectal temperature'].fillna(horses_8.groupby(['mucous membranes', 'abdominal distension'])['rectal temperature'].transform('median'), inplace=True)
horses_8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery?              298 non-null    float64
 1   Age                   298 non-null    int64
 2   rectal temperature    298 non-null    float64
 3   pulse                 298 non-null    float64
 4   mucous membranes      298 non-null    float64
 5   pain                  298 non-null    object
 6   abdominal distension  298 non-null    float64
 7   outcome               298 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 21.0+ KB

## Дополнительная часть (необязательная)

Выполнить задания 1-3 для всего набора данных.

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.